.todo{
    padding: 12px;
    border: 5px solid #fff;
    position: relative;
    height: 120px;
    width: 200px;
}
.deleteBtn{
    border: transparent;
    background-color: transparent;
    position: absolute;
    right: 5px;
    top: 10px;
    font-size: 16px;
    transition: .3s;
    cursor: pointer;
}
.deleteBtn:hover, .deleteBtn:focus{
    color: red;
}
.title{
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 10px;
}
.text{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.nextBtn{
    margin-top: 10px;
}