.todos {
  display: flex;
  flex-direction: column;
  gap: 30px;
  flex: 1;
  padding: 20px;
}
.status{
  font-size: 20px;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-weight: 500;
}
.todos.new {
  background-color: lightblue;
}
.todos.process {
  background-color: lightpink;
}
.todos.done {
  background-color: lightgreen;
}
